* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; }

body { 
    font-family: 'Orbitron', sans-serif; 
    background: radial-gradient (circle at top, #0f0c29, #302b63, #24243e); 
    color: #fff; 
}

a { color: #0ff; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

a:hover {
  color: #f0f;
}
